main {
  display: flex;
  justify-content: space-between;
}

.info_container {
  width: 50%;
  padding-right: 6%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.info_container>h1 {
  font-size: 2.5rem;
}

.info_container>p:last-child {}

.info_links {
  display: flex;
  gap: 30px;
}

.info_links>a {
  color: #1a202c;
  font-weight: bolder;
  cursor: pointer;
  text-transform: initial;
}